dist-newstyle
.direnv
tmp
secrets
result
.cabal-fmt*
testdb
dev-profile*
*.bak
site
output-docker-image
.gitignore
cardano-utxo-csmt-exe-cardano-utxo-csmt-arx
utxo-csmt
.vscode
cabal.project.local
.ghc*