name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - run: sudo rm -rf /opt&
      - uses: actions/checkout@v4
      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build executable
        run: nix build .#cardano-utxo-csmt
      - name: Build docker image
        run: nix build .#docker-image -o output-docker-image
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cardano-utxo-csmt-image
          path: output-docker-image
      - name: Build AppImage
        run: nix bundle --bundler github:ralismark/nix-appimage .#cardano-utxo-csmt -o cardano-utxo-csmt.AppImage
      - name: Upload appImage artifact
        uses: actions/upload-artifact@v4
        with:
          name: cardano-utxo-csmt-appImage
          path: cardano-utxo-csmt.AppImage
      - name: Upload tarball Artifact
        uses: actions/upload-artifact@v4
        with:
          name: cardano-utxo-csmt
          path: output-linux-tarball
      - name: Build rpm artifact
        run: nix bundle --bundler github:NixOS/bundlers#toRPM -o cardano-utxo-csmt.rpm
      - name: Upload rpm artifact
        uses: actions/upload-artifact@v4
        with:
          name: cardano-utxo-csmt-rpm
          path: cardano-utxo-csmt.rpm
      - name: Build deb artifact
        run: nix bundle --bundler github:NixOS/bundlers#toDEB -o cardano-utxo-csmt.deb
      - name: Upload deb artifact
        uses: actions/upload-artifact@v4
        with:
          name: cardano-utxo-csmt-deb
          path: cardano-utxo-csmt.deb
  unit:
    name: Run unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Run Tests
        run: nix run .#unit-tests
  bench:
    name: Run Benchmarks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Run Benchmarks
        run: nix run .#bench
  formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: paolino/dev-assets/setup-nix@v0.0.1
        with:
          cachix-auth-token: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Check Formatting
        run: nix develop -c just format
